{% extends "base.html" %}
{% block content %}

    <div class="col-lg-9 mt-3 mb-4 mx-auto">
        <img src ="{{ console.image  }}" width=250 height=250 crop="fill">
        <button type="button" class="btn btn-warning">
            <a href="/cart/add_to_cart/{{ console.id }}?type=console">Add to cart <i class="fa fa-fw fa-shopping-cart"></i></a>
        </button>
        <h2><span class="badge badge-pill badge-success">$ {{ console.price }}</span></h2>
        <h1>{{ console.name }}</h1>
        <p>{{ console.description }}</p>
    </div>

{% endblock %}
