{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <img src="/static/img/cover.png" class="img-fluid">
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-12">
            <h2> Recommended games </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <!-- Game #1 -->
            <img src="/static/img/PH950.png" class="card-img-top"  style="text-align: center;" width=350 height=350>
            <!-- Setja inn games hérna frá database SILLI -->
        </div>
        <div class="col-4">
            <!-- Game #2 -->
            <img src="/static/img/PH950.png" class="card-img-top"  style="text-align: center;" width=350 height=350>
            <!-- Setja inn games hérna frá database SILLI -->
        </div>
        <div class="col-4">
            <!-- Game #3 -->
            <img src="/static/img/PH950.png" class="card-img-top"  style="text-align: center;" width=350 height=350>
            <!-- Setja inn games hérna frá database SILLI -->
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-lg-12">
            <h2> Games Wiki of the day </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A, alias aliquam animi asperiores blanditiis
                ea et id illo iusto minima molestias natus nihil officia
                quibusdam sapiente ullam vero vitae voluptas.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A, alias aliquam animi asperiores blanditiis
                ea et id illo iusto minima molestias natus nihil officia
                quibusdam sapiente ullam vero vitae voluptas.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A, alias aliquam animi asperiores blanditiis
                ea et id illo iusto minima molestias natus nihil officia
                quibusdam sapiente ullam vero vitae voluptas.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A, alias aliquam animi asperiores blanditiis
                ea et id illo iusto minima molestias natus nihil officia
                quibusdam sapiente ullam vero vitae voluptas.
            </p>
        </div>
    </div>

{% endblock %}