{% extends "base.html" %}
{% block content %}

    <div class="col-lg-9 mt-3 mb-4 mx-auto">
        <img src ="{{ game.image  }}" width=250 height=250 crop="fill">
    {% if user.is_authenticated %}
        <button type="button" class="btn btn-warning">
            <a href="/cart/add_to_cart/{{ console.id }}?type=console">Add to cart <i class="fa fa-fw fa-shopping-cart"></i></a>
        </button>

    {% else %}
        <button type="button" class="btn btn-warning">
            <a href="{% url 'login' %}">Login to add to cart <i class="fa fa-fw fa-shopping-cart"></i></a>
        </button>
    {% endif %}
        <h2><span class="badge badge-pill badge-success">$ {{ game.price }}</span></h2>
        <h1>{{ game.name }}</h1>
        <h4>{{ game.console.name }}</h4>
        <p>{{ game.description }}</p>

            {% if user.is_authenticated %}
                <a href="{% url 'delete_game' game.id %}" class="block btn btn primary">Delete game</a>
                <a href="{% url 'update_game' game.id %}" class="block btn btn primary">Update game</a>
            {% endif %}


    </div>

{% endblock %}


