{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="row">

        <div class="col-lg-9" style="padding: 20px;">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter by console
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <input class="form-control" id="myInput" type="text" placeholder="Search..">
                    <li><a href="#">Nintendo</a></li>
                    <li><a href="#">Super Nintendo</a></li>
                    <li><a href="#">Nintendo 64</a></li>
                    <li><a href="#">Sega Megadrive</a></li>
                    <li><a href="#">Gameboy</a></li>
                    <li><a href="#">Play Station</a></li>
                    <li><a href="#">Play Station 2</a></li>
                    <li><a href="#">Atari</a></li>
                </ul>
            </div>
                    <select id="sort-games">
                        <option value="" disabled selected>Sort by</option>
                        <option value="name">Name (A-Z)</option>
                        <option value="-name">Name (Z-A)</option>
                        <option value="price">Price (Highest-Lowest)</option>
                        <option value="-price">Price (Lowest-Highest)</option>
                    </select>
        </div>


        <div class="col-lg-3" style="padding: 20px;">
           <form class="navbar-form navbar-left" role="search">
                <div class="input-group">
                    <input type="search" class="form-control" id="search-box" placeholder="Search..."/>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" id="search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
           </form>
        </div>
    </div>
    <br>

    <div class="row" id="row-1">
        {% for game in games %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="#" style="text-align: center"><img class="card-img-top"><img  src ="{{ game.image  }}" width=150 height=150></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/games/{{ game.id}}">{{ game.name }}</a>
                        </h4>
                        <h5>$ {{ game.price }}</h5>
                        <h5> {{ game.console.name }}</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
    <script src="{% static 'js/games.js' %}"></script>

{% endblock %}