{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Captain Console</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
    </head>

    <body style="padding-top: 70px;" class="base-background" id="back">

        {% include 'header.html' %}

        <!-- Page Content -->
        <div class="container base-container">

            {% block content %}
            {% endblock %}

            <!-- /.row -->

            </div>
    <img src="/static/img/bannerfinal.png" class="img-fluid">
        <!-- /.container -->

            {% include 'footer.html' %}

  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    </body>

</html>
