{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Captain Console</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>

<body style="padding: 0px;" class="base-background">

{% include 'header.html' %}

  <!-- Page Content -->
<div class="container">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="my-4">Captain Console</h1>
        </div>
        <div class="col-lg-9">
            <div class="list-group">
                <a href="{% url 'games-index' %}" class="list-group-item">Games</a>
                <a href="{% url 'consoles-index' %}" class="list-group-item">Consoles</a>
                <a href="#" class="list-group-item">Other</a>
            </div>
        </div>
        <!-- /.col-lg-3 -->

        {% block content %}
        {% endblock %}

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


{% include 'footer.html' %}

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
