<footer class="py-5 bg-dark">
    <div class="container">
             <div class="row">
                <div class="col-sm-12 col-md-6">
                <h5>About</h5>
                <p class="text-justify">Captain Consoles helps you find your inner child<br><br>We are located in HR</p>
             </div>

          <div class="col-xs-6 col-md-3">
            <h5>Categories</h5>
            <ul class="footer-links">
              <li><a href="#">Consoles</a></li>
              <li><a href="#">Games</a></li>
              <li><a href="#">Other</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h5>Contact</h5>
            <ul class="footer-links">
              <li><a href="#">Email</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Privacy Policy</a></li
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by<a href="#"> Captain Console</a>.</p>
          </div>
        </div>
      </div>
</footer>