<!-- Footer -->
<footer class="py-3 bg-dark text-light">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">


      <hr>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">


        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">ABOUT US</h5>
        <p>Captain Console sells retro gaming devices and all your favourite childhood games!</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONTACT US</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Email</a>
          </li>
          <li>
            <a href="#!">Facebook</a>
          </li>
          <li>
            <a href="#!">Reddit</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">OUR FRIENDS</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#">RETRO STUFF</a>
          </li>
          <li>
            <a href="#">MORE RETRO STUFF</a>
          </li>
          <li>
            <a href="#">EVEN MORE RETRO STUFF!!</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">2020
    <a href="#"> Captain Console</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->